app:
  title: Backstage
  # Base URL untuk frontend (karena production bundle, portnya sama dengan backend)
  baseUrl: http://localhost:7007

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
    host: 0.0.0.0

  # --- PERBAIKAN DISINI ---
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    # UBAH JADI 7007 (Sesuaikan dengan URL di browser kamu)
    origin: http://localhost:7007
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  # ------------------------

  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}

  auth:
    keys:
      - secret: ${BACKEND_SECRET}

auth:
  providers:
    guest:
      dangerouslyAllowSignInWithoutUserInCatalog: true

# Tambahkan ini biar gak ribet masalah izin akses saat development
permission:
  enabled: false

catalog:
  locations: []

techdocs:
  builder: 'local'
  generator:
    runIn: 'docker'
  publisher:
    type: 'local'