* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #f0f0f0;
    overflow: auto;
    min-width: 100%;
    padding: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.tree {
	width: 100%;
	height: auto;
	text-align: center;
    white-space: nowrap;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: 0.5s;
}

.tree li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
    vertical-align: top;
}

.tree li::before,
.tree li::after {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 2px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 2px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 2px solid #ccc;
	border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 2px solid #ccc;
	width: 0;
	height: 20px;
}

.tree li a {
	border: 2px solid #ccc;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	transition: 0.5s;
	background-color: #fff;
	min-width: 150px;
    white-space: normal;
}

.tree li a:hover,
.tree li a:hover + ul li a {
	background: #c8e4f8;
	color: #000;
	border: 2px solid #94a0b4;
}

.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
	border-color: #94a0b4;
}

.node-title, .node-name {
    display: block;
}

.node-title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
}

.node-name {
    font-size: 12px;
    color: #555;
}
