# service_conf.yaml

llm_api_key: ${GEMINI_API_KEY}

database:
  db_type: postgresql
  postgresql:
    name: ${POSTGRES_DB}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    host: postgres
    port: 5432
    max_connections: 900
    stale_timeout: 300
    max_allowed_packet: 1073741824

vector_store:
  type: qdrant
  qdrant:
    host: qdrant
    port: 6333
    grpc_port: 6334
    user: ""
    password: ""

mysql:
  name: rag_flow
  user: root
  password: ${MYSQL_ROOT_PASSWORD}
  host: mysql
  port: 3306
  max_connections: 900
  stale_timeout: 300
  max_allowed_packet: 1073741824

redis:
  db: 1
  password: ""
  host: redis
  port: 6379

es:
  hosts: http://es01:9200
