<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Generator</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <!-- Link ke file CSS eksternal -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="version-ribbon">
        <span th:text="${'v' + appVersion}">v0.0.1</span>
    </div>

    <div class="container">
        <h1>Generate a Report</h1>
        <form action="/generate" method="post">
            <button type="submit" class="generate-button">Generate Report</button>
        </form>
    </div>

    <!-- Link ke file JavaScript eksternal -->
    <script src="/js/notifications.js"></script>
</body>
</html>
