version: "3.8"

services:
  alfresco:
    image: alfresco/alfresco-content-repository-community:7.4.0
    user: root
    command: ["/bin/bash", "-c", "mkdir -p /usr/local/tomcat/alf_data/keystore && /usr/local/tomcat/bin/catalina.sh run"]
    deploy:
      resources:
        limits:
          memory: 3500M
    environment:
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8

      - JAVA_TOOL_OPTIONS=
        -Xms1500m -Xmx1500m
        -Duser.timezone=Asia/Jakarta
        -Dencryption.keystore.type=JCEKS
        -Dencryption.cipherAlgorithm=DESede/CBC/PKCS5Padding
        -Dencryption.keyAlgorithm=DESede
        -Dencryption.keystore.location=/usr/local/tomcat/alf_data/keystore/keystore
        -Dmetadata-keystore.password=mp6yc0UD9e
        -Dmetadata-keystore.aliases=metadata
        -Dmetadata-keystore.metadata.password=oKIWzVdEdA
        -Dmetadata-keystore.metadata.algorithm=DESede

      - ALFRESCO_ADMIN_PASSWORD=admin

      - CATALINA_OPTS=
        -Ddb.driver=org.postgresql.Driver
        -Ddb.username=alfresco
        -Ddb.password=alfresco
        -Ddb.url=jdbc:postgresql://postgres:5432/alfresco
        -Dsolr.host=solr6
        -Dsolr.port=8983
        -Dsolr.base.url=/solr
        -Dindex.subsystem.name=solr6
        -Dshare.context=share
        -Dshare.host=share
        -Dshare.port=8080
        -Dalfresco.host=alfresco
        -Dalfresco.port=8080
        -Daos.baseUrl=/alfresco/aos
        -Ddir.root=/usr/local/tomcat/alf_data
        -Dsolr.secureComms=secret
        -Dsolr.sharedSecret=rahasia123

    ports:
      - 8082:8080
    volumes:
      - alfresco-data:/usr/local/tomcat/alf_data
    depends_on:
      - postgres

  postgres:
    image: postgres:13.6
    deploy:
      resources:
        limits:
          memory: 512M
    environment:
      - POSTGRES_DB=alfresco
      - POSTGRES_USER=alfresco
      - POSTGRES_PASSWORD=alfresco
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: postgres -c 'max_connections=300'

  share:
    image: alfresco/alfresco-share:7.4.0
    deploy:
      resources:
        limits:
          memory: 1G
    environment:
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
      - REPO_HOST=alfresco
      - REPO_PORT=8080
      - "CATALINA_OPTS= -Dalfresco.host=alfresco -Dalfresco.port=8080 -Dalfresco.context=alfresco -Dalfresco.protocol=http"
    ports:
      - 8080:8080
    depends_on:
      - alfresco

  solr6:
    image: alfresco/alfresco-search-services:2.0.5
    deploy:
      resources:
        limits:
          memory: 2500M
    environment:
      # Fix Locale
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8

      # PERUBAHAN KRUSIAL ADA DI SINI:
      - SOLR_OPTS=
        -Xms2g -Xmx2g
        -Duser.language=en -Duser.country=US
        -Dalfresco.secureComms=secret
        -Dalfresco.host=alfresco
        -Dalfresco.port=8080
        -Dalfresco.baseUrl=/alfresco
        -Dalfresco.secureComms.secret=rahasia123

      - SOLR_ALFRESCO_HOST=alfresco
      - SOLR_ALFRESCO_PORT=8080

      - SOLR_ALFRESCO_SECURE_COMMS=
      - SOLR_ALFRESCO_SHARED_SECRET=

      - SOLR_SOLR_HOST=solr6
      - SOLR_SOLR_PORT=8983
      - SOLR_CREATE_ALFRESCO_DEFAULTS=alfresco,archive
      - SOLR_ALFRESCO_BASE_URL=/alfresco
    ports:
      - 8983:8983
    volumes:
      - solr-data-v3:/opt/alfresco-search-services/data
    depends_on:
      - alfresco

volumes:
  postgres-data:
  alfresco-data:
  # Volume baru
  solr-data-v3: