services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5656:8080"
      - "5005:5005"
    volumes:
      - ./src:/app/src
      - ./pom.xml:/app/pom.xml
      - ./target:/app/target
    environment:
      # --- PENGATURAN MEMORI JVM ---
      - JAVA_OPTS=-Xms256m -Xmx512m -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      # Variabel lingkungan lainnya tetap sama
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=host.docker.internal:9092
      - REPORT_OUTPUT_DIR=/app/reports
    command: mvn spring-boot:run
